.content-fader {
	overflow:hidden;
	position:relative;
}
.fader-wrapper {
	overflow:hidden;
	position:relative;
}
.fader-wrapper>* {
	float:left;
	width:100%;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
}
.fader-wrapper>*.start {
	position: relative;
	top: auto;
	left: auto;
	opacity: 1;
}
.fader-control {
	height:30px;
	position:relative;
}
.fader-control a,.fader-control .fader-menu {
	position:absolute;
	top:9px;
	display:inline-block;
}
.fader-control .fader-prev {
	left:0;
}
.fader-control .fader-next {
	right:0;
}
.fader-control .fader-menu {
	top:0;
	width:50%;
	left:50%;
	margin-left:-25%;
	font-size:27px;
	text-align:center;
}
.fader-control .fader-menu b {
	color:#bbb;
	cursor:pointer;
}
.fader-control .fader-menu b.active {
	color:#666;
}